<h4><%= @article.title %></h4>
<br><br>
	<%= @article.text %>
<hr>
<hr>
<h2>Comments:</h2>
<% @article.comments.each do |com| %>
<br>
<h3><i><%= com.author %> said: </i></h3>
<%= com.body %>
<br><br>
<hr>
<%end%>

<h2>Add comments</h2>
<%= form_for ([@article, @article.comments.build]), data: {turbo:false} do |f| %>

<p>
	<%= f.label :author %><br />  <%# equal to TITLE%>
	<%= f.text_field :author %>
</p>

<p>
	<%= f.label :body %><br />  
	<%= f.text_area :body %>
</p>

<p>
	<%= f.submit%>
</p>
<%end%>
<%= link_to "See all articles", articles_path %>